@import 'styles/theming.scss';


@function heightHeader() {
    @return 100px - (2 * $ak-padding);
}

.simple-full-width-header {
    background-color: mat-color($primary, 500);
    color: mat-color($primary, 50);
    height: heightHeader();
    line-height: heightHeader();
    padding: $ak-padding;
}

ak-simple-full-width-header div.simple-full-width-header span {
    font-size: 20px;
}

.simple-full-width-content {
    padding: $ak-padding;
    height: calc(100vh - 220px);
    overflow-y: scroll !important;
}

mat-tab-body {
    padding: 10px !important;
    max-height: calc(100vh - 350px) !important;
}
