@import 'styles/theming.scss';

.nav-container {
  display: flex;
  flex-flow: column;
  font-size: 14px;
}

.nav-menu-link, .nav-submenu-link {
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  flex-basis: 100%;
  display: flex;
  flex-flow: column;
  text-decoration: none;
}

span.nav-link-title:hover {
  text-decoration: underline;
}

.nav-link-title {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.nav-link-title.submenu {
  padding-left: 30px;
}

.active {
  background-color: mat-color($primary, 500);
  border-radius: 0 20px 20px 0;
  margin-right: 16px;
}

.no-route {
  text-decoration: none !important;
}

mat-chip-list {
  padding: 9px 10px;
}

.mat-standard-chip {
  min-height: 20px !important;
}

.menu-icon {
  padding-right: 10px;
  font-size: 18px;
  width: 18px !important;
  height: 18px !important;
}