@mixin ak-drawer($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);

  $top-drawer: (multistage: 40px,
      basic: 0px);

  @each $breakpoint,
  $size in $top-drawer {
    .\--drawer-top-#{$breakpoint} {
      top: $size;
    }

    .\--drawer-overlay-top-#{$breakpoint} {
      top: $size;
    }

    .\--drawer-height-#{$breakpoint} {
      height: calc(100% - #{$size});
    }
  }

  .drawer {
    height: 100%;
    position: fixed;
    z-index: 2;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    $breakpoints-width: sm, md, lg;
    $sizes-width-pc: 35%, 55%, 85%;
    transition: cubic-bezier(0, 0, 0.2, 1) 0.5s;

    @for $i from 1 through length($breakpoints-width) {
      $size: #{nth($sizes-width-pc, $i)};

      &.\--drawer-width-#{nth($breakpoints-width, $i)} {
        width: calc(#{$size} - 65px) !important
      }
    }
  }

  .drawer__container {
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .drawer__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: mat-color($background, card);
  }

  .drawer__title {
    margin-top: 2px;
    font-size: 24px;
    font-weight: 700;
    color: mat-color($foreground, text);
  }

  .drawer__content {
    overflow-y: auto;
    padding: 16px;
    background-color: mat-color($background, background);
    height: 100%;
  }

  .drawer__content-place {
    background-color: mat-color($background, card);
    border: mat-color($foreground, divider);
  }

  .drawer__overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    left: 0px;
    position: fixed;
    z-index: 2;
  }

  .drawer__button.mat-icon-button {
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin: 0 4px 0 4px;

    i:before {
      color: mat-color($foreground, text);
    }
  }

  .drawer__button-close.mat-icon-button {
    color: #cecece;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    border: 1px solid mat-color($accent, 300);
    width: 40px;
    height: 40px;
    line-height: 38px;
    margin: 0 16px 0 16px;

    i:before {
      color: mat-color($foreground, text);
    }
  }

  .drawer--close {
    right: 0px;
    animation-name: animation-close;
  }

  @keyframes animation-close {
    0% {
      right: 0px;
    }

    100% {
      right: -85%;
    }
  }

  .drawer--open-1 {
    right: -85%;
    animation-name: animation-open-1;
  }

  @keyframes animation-open-1 {
    0% {
      right: -85%;
    }

    100% {
      right: 0px;
    }
  }

  .drawer--open-2 {
    right: 0px;
    animation-name: animation-open-2;
  }

  @keyframes animation-open-2 {
    0% {
      right: 0px;
    }

    100% {
      right: 15%;
    }
  }

  .drawer--open-3 {
    right: 15%;
    animation-name: animation-open-3;
  }

  @keyframes animation-open-3 {
    0% {
      right: 15%;
    }

    100% {
      right: 40%;
    }
  }

  .drawer--close-down {
    right: 0px;
    animation-name: animation-close-down;
  }

  @keyframes animation-close-down {
    0% {
      right: 0px;
    }

    100% {
      right: -85%;
    }
  }

  .drawer--open-1-down {
    right: 15%;
    animation-name: animation-open-1-down;
  }

  @keyframes animation-open-1-down {
    0% {
      right: 15%;
    }

    100% {
      right: 0px;
    }
  }

  .drawer--open-2-down {
    right: 40%;
    animation-name: animation-open-2-down;
  }

  @keyframes animation-open-2-down {
    0% {
      right: 40%;
    }

    100% {
      right: 15%;
    }
  }

  .drawer--open-3-down {
    right: 40%;
  }

  .drawer--close-no-anim {
    right: -85%;
  }

  .drawer--open-1-no-anim {
    right: 0px;
  }

  .drawer--open-2-no-anim {
    right: 15%;
  }

  .drawer--open-3-no-anim {
    right: 40%;
  }

  .drawer--smartpanel--close {
    right: 0px;
    animation-name: animation-close-smartpanel;
  }

  @keyframes animation-close-smartpanel {
    0% {
      right: 0px;
    }

    100% {
      right: -85%;
    }
  }

  .drawer--smartpanel--open-1 {
    right: 0px;
    margin-right: 0px;
    animation-name: animation-open-1-smartpanel;
  }

  @keyframes animation-open-1-smartpanel {
    0% {
      right: 0px;
    }

    100% {
      right: 300px;
    }
  }

  .drawer--smartpanel--open-2 {
    right: 300px;
    margin-right: 0px;
    animation-name: animation-open-2-smartpanel;
  }

  @keyframes animation-open-2-smartpanel {
    0% {
      right: 300px;
    }

    100% {
      right: calc(15% + 300px);
    }
  }

  .drawer--smartpanel--open-3 {
    right: calc(15% + 300px);
    margin-right: 0px;
    animation-name: animation-open-3-smartpanel;
  }

  @keyframes animation-open-3-smartpanel {
    0% {
      right: calc(15% + 300px);
    }

    100% {
      right: calc(40% + 300px);
    }
  }

  .drawer--smartpanel--close-down {
    right: 0px;
    margin-right: 0px;
    animation-name: animation-close-down-smartpanel;
  }

  @keyframes animation-close-down-smartpanel {
    0% {
      right: 0px;
    }

    100% {
      right: -85%;
    }
  }

  .drawer--smartpanel--open-1-down {
    right: calc(15% + 300px);
    margin-right: 0px;
    animation-name: animation-open-1-down-smartpanel;
  }

  @keyframes animation-open-1-down-smartpanel {
    0% {
      right: calc(15% + 300px);
    }

    100% {
      right: 300px;
    }
  }

  .drawer--smartpanel--open-2-down {
    right: calc(40% + 300px);
    margin-right: 0px;
    animation-name: animation-open-2-down-smartpanel;
  }

  @keyframes animation-open-2-down-smartpanel {
    0% {
      right: calc(40% + 300px);
    }

    100% {
      right: calc(15% + 300px);
    }
  }

  .drawer--smartpanel--open-3-down {
    right: calc(40% + 300px);
    margin-right: 0px;
  }

  .drawer--smartpanel--close-no-anim {
    right: -85%;
    margin-right: 0px;
  }

  .drawer--smartpanel--open-1-no-anim {
    right: 300px;
    margin-right: 0px;
  }

  .drawer--smartpanel--open-2-no-anim {
    right: calc(15% + 300px);
    margin-right: 0px;
  }

  .drawer--smartpanel--open-3-no-anim {
    right: calc(40% + 300px);
    margin-right: 0px;
  }
}
