@mixin ake-drawer($theme) {

  .drawer {
    height: 100%;
    position: fixed;
    z-index: 2;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    $breakpoints-width: sm, md, lg;
    $sizes-width-pc: 35%, 55%, 85%;
    transition: cubic-bezier(0, 0, 0.2, 1) 0.5s;
    background-color: mat-color($accent, 50);
    top: 0;

    @for $i from 1 through length($breakpoints-width) {
      $size: #{nth($sizes-width-pc, $i)};

      &.\--drawer-width-#{nth($breakpoints-width, $i)} {
        width: calc(#{$size} - 65px) !important
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 2px;
    background-color: white;
  }

  .title {
    margin-top: 2px;
    font-size: 24px;
    font-weight: 700;
    color: mat-color($foreground, text);
  }

  .content {
    overflow-y: auto;
    padding: 10px;
    background-color: mat-color($accent, 50);
    height: 100%;
  }

  .content-place {
    background-color: white;
    display: flex;
    border-radius: 5px;
    padding: 6px;
    height: calc(100% - 12px);
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    left: 0px;
    position: fixed;
    z-index: 2;
    top: 0;
  }

  .button-close.mat-mini-fab {
    margin: 0 16px 0 16px;
  }

  .drawer--close {
    right: 0px;
    animation-name: animation-close;
  }

  @keyframes animation-close { 100% { right: -85%; } }

  .drawer--open-1 {
    right: -85%;
    animation-name: animation-open-1;
  }

  @keyframes animation-open-1 { 100% { right: 0px; } }

  .drawer--open-2 {
    right: 0px;
    animation-name: animation-open-2;
  }

  @keyframes animation-open-2 { 100% { right: 15%; } }

  .drawer--open-3 {
    right: 15%;
    animation-name: animation-open-3;
  }

  @keyframes animation-open-3 { 100% { right: 40%; } }

  .drawer--close-down {
    right: 0px;
    animation-name: animation-close-down;
  }

  @keyframes animation-close-down { 100% { right: -85%; } }

  .drawer--open-1-down {
    right: 15%;
    animation-name: animation-open-1-down;
  }

  @keyframes animation-open-1-down { 100% { right: 0px; } }

  .drawer--open-2-down {
    right: 40%;
    animation-name: animation-open-2-down;
  }

  @keyframes animation-open-2-down { 100% { right: 15%; } }

  .drawer--open-3-down {
    right: 40%;
  }

}
