@import '../theming.scss';

@function heightHeader() {
  @return 100px - (2 * $ak-padding);
}

// Contents

.simple-full-width-content, .carded-full-width-content {
  padding: $ak-padding 0;
  max-height: calc(100vh - 214px);
  overflow-y: scroll;
}

.simple-full-width-content {
  padding: $ak-padding;
}

.carded-full-width-content, .full-width-content {
  max-height: calc(100vh - 250px);
}

.simple-tabbed-content mat-tab-body {
  padding: 10px;
  max-height: calc(100vh - 259px);
}

.carded-tabbed-content mat-tab-body {
  padding-top : 10px;
  max-height: calc(100vh - 285px);
}

.carded-tabbed-content {
  background: #fff;
  padding: $ak-padding;
  border-radius: 8px;
}

.full-width-content {
  max-height: calc(100vh - 225px);
  background-color: #fff;
  border-radius: 8px;
  padding: $ak-padding;
}

// Header

ak-simple-full-width-header div.simple-full-width-header span,
ak-carded-full-width-header div.carded-full-width-header span,
ak-simple-tabbed-header div.simple-tabbed-header span,
ak-carded-tabbed-header div.carded-tabbed-header span {
  font-size: 20px;
}

.simple-tabbed-header, .simple-full-width-header {
  height: heightHeader();
  line-height: heightHeader();
}

.simple-tabbed-header,
.simple-full-width-header,
.carded-tabbed-header,
.carded-full-width-header {
  background-color: mat-color($primary, 500);
  color: mat-color($primary, 50);
  padding: $ak-padding;
}

.carded-tabbed-header, .carded-full-width-header {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center space-between;
  align-items: center;

  height: 100px;
  min-height: 100px;
  max-height: 100px;
}

.center {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
  z-index: 2;
  padding: 0 $ak-padding;
  min-width: 0;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.top-bg {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
  height: 165px;
}

.tabbed-group {
  display: flex;
  flex-direction: column;
}