<ake-simple-full-width>
  <ake-simple-full-width-header>
    <span>{{'titulo.sobre' | translate}}</span>
  </ake-simple-full-width-header>
  <ake-simple-full-width-content>
    <h1>{{'titulo.allKnowlewdge' | translate}}</h1>
    <h4 class="secondary-text">{{'subtitulo.oQueEallKnowlewdge' | translate}}</h4>
    <p> {{'textos.descricaoApp' | translate}} </p>
    <p> {{'textos.dependenciasUtilizadas' | translate}} </p>
    <ul>
      <li *ngFor="let item of tools">{{item}}</li>
    </ul>
  </ake-simple-full-width-content>
</ake-simple-full-width>
