@import 'theming';

.content-table {
  border-radius: 8px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.container-footer {
  display: flex;
  justify-content: flex-end;
}

.container {
  background-color: white;
  padding: 16px;
  margin: 3px;
  border-radius: 8px;
}

.page-select {
  display: flex;
  justify-content: flex-end;
  min-height: 56px;
  padding: 0 8px;
  flex-wrap: wrap-reverse;
  align-items: baseline;
  font-size: 12px;

  .label {
    margin: 0 4px;
  }
}

.select {
  width: 85px;
}