mat-accordion.mat-accordion {
  mat-expansion-panel.mat-expansion-panel {
    
    .mat-expansion-panel-body {
      padding: 0;
    }

    mat-expansion-panel-header {
      &.mat-expansion-panel-header {
        background-color: #e8e8e8;
        padding: 5px 15px 5px 15px;
        height: 30px;
        font-size: 11px;
        font-family: $font-family;
        font-weight: bold;
        overflow-y: hidden;
        margin-bottom: 5px;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;

        &.mat-expanded {
          height: 60px;
        }
      }

      &:hover {
        background-color: #e8e8e8;
        cursor: pointer;
      }

    }

    .mat-expansion-panel-header-title {
      color: rgba(51, 51, 51, 0.7);
    }

    .mat-expansion-indicator::after {
      position: relative;
      bottom: 3px;
      padding: 2px;
    }

  }

  .mat-expansion-panel-body {
    padding: 0 15px 16px;
  }
}

.accordion-doc {
  background-color: $bg;
  display: none;
  overflow: hidden;
  transition: height 2.2s ease-out;
}