%btn_base {
  width: $btn_base-width;
  min-width: $btn_base-min-width;
  height: $btn_base-height;
  color: #ffffff;
  border-radius: 50% !important;
}

%btn_icon_size {
  font-size: $btn_base-icon-font-size;
}

.mat-fab,
.mat-mini-fab  {
  display: flex;
  line-height: $button-height;
  font-size: $button-font-size;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: $button-border-radius;

  [class*='icon-']:before {
    font-size: $icons-before-size;
  }
}

button.mat-fab {
  &.\--btn-shoveit-accent {
    background-color: mat-color($accent,500);
  }
  &.\--btn-shoveit-warn {
    background-color: mat-color($warn,500);
  }

  &.\--btn-shoveit {
    @extend %btn_base;
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.2) !important;
    backface-visibility: hidden;
    position: absolute;
    z-index: 2;
    transform: rotateY(0deg);

    [class*='icon-']:before {
      @extend %btn_icon_size;
    }

  }

  &.\--btn-shoveit-secondary {
    @extend %btn_base;
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.2) !important;
    backface-visibility: hidden;
    position: relative;
    transform: rotateY(-180deg);

    [class*='icon-']:before {
      @extend %btn_icon_size;
    }
  }

  &.\--btn-fake-shoveit {
    @extend %btn_base;
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.2) !important;
    background-color: mat-color($warn,500);
    backface-visibility: hidden;
    position: relative;
    transform: rotateY(-180deg);

    @extend %btn_icon_size;

    [class*='icon-']:before {
      @extend %btn_icon_size;
    }
  }

  &.\--btn-ronded {
    @extend %btn_base;
    background-color: mat-color($accent,500);

    [class*='icon-']:before {
      @extend %btn_icon_size;
    }
  }

  &.\--btn-ronded-warn {
    @extend %btn_base;
    background-color: mat-color($warn,500);

    [class*='icon-']:before {
      @extend %btn_icon_size;
    }
  }

  &.\--btn-ronded-md {
    width: $btn-ronded-md-width;
    min-width: $btn-ronded-md-min-width;
    height: $btn-ronded-md-height;
    border-radius: 50%;
    background-color: mat-color($accent, 500);
    color: #ffffff;

    [class*='icon-']:before {
      font-size: $icon-md-font-size;
    }

    i.icon-play-c {
      line-height:3.5;
      &:before {
        font-size: 20px;
      }
    }


    span.mat-button-wrapper {
      padding: 5px 0;
    }
  }

  &.\--btn-ronded-warn-md {
    width: $btn-ronded-md-width;
    min-width: $btn-ronded-md-min-width;
    height: $btn-ronded-md-height;
    border-radius: 50%;
    background-color: mat-color($warn,500);
    color: #ffffff;

    [class*='icon-']:before {
      font-size: $icon-md-font-size;
    }

    i.icon-play-c {
      line-height:3.5;
      &:before {
        font-size: 20px;
      }
    }

    span.mat-button-wrapper {
      padding: $mat-button-wrapper-padding;
    }
  }

  &.\--btn-user-image {
    @extend %btn_base;
    background-color: $smartpanel_color_bg;

    [class*='icon-']:before {
      @extend %btn_icon_size;
    }
  }

  &.\--btn-smartpanel-user {
      width: $btn-smartpanel-user-width;
      min-width: $btn-smartpanel-user-min-width;
      height: $btn-smartpanel-user-height;
      background-color: $btn-smartpanel-user-color;
      border-radius: 50% !important;
      color:  #ffffff;

      [class*='icon-']:before {
        font-size: $btn-smartpanel-user-icon-font-size;
        color:#ffffff;
      }

      span.mat-button-wrapper {
          padding: $mat-button-wrapper-padding;
      }
      
      &.\--btn-smartpanel-user-active {
        width: $btn-smartpanel-user-active-width;
        min-width: $btn-smartpanel-user-active-min-width;
        height: $btn-smartpanel-user-active-height;
        border-radius: 0 !important;
      }
  }

  &.\--btn-ronded-sm {
    width: $btn-ronded-sm-width;
    min-width: $btn-ronded-sm-min-width;
    height: $btn-ronded-sm-height;
    border-radius: 50%;
    background-color: mat-color($accent,500);
    color: #ffffff;
    display: flex;

    [class*='icon-'] {
      line-height: 2;
    }

    [class*='icon-']:before {
      font-size: $btn-ronded-sm-icon-font-size;
    }

    span.mat-button-wrapper {
      padding: 0px 0px;
      margin: auto;
    }
  }
}

button.mat-mini-fab {
  width: $mat-mini-fab-size;
  height: $mat-mini-fab-size;
  .mat-button-wrapper {
    padding: 0;
    margin: auto;
    line-height: 0px;
  }
}

span.initials {
  font-size: 18px;
  line-height: 32px;
  font-family: $font-family;
}
