
@mixin mat-input($theme) {
  $foreground : map-get($theme, foreground);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $is-dark-theme: map-get($theme, is-dark);
  $dark-color: if($is-dark-theme, #ffffff, mat-color($accent));

  .mat-form-field {
    font-size: $font-size-default;

    .mat-input-wrapper.mat-form-field-wrapper
    .mat-input-flex.mat-form-field-flex
    .mat-input-infix.mat-form-field-infix {
      width: 100%;
    }
    .mat-form-field-infix {
      width: 100%;
    }
  }

  // Mat Error
  .mat-error {
    font-size: 10px;
  }

  // Cor do placeholder focado
  .mat-form-field.mat-focused .mat-form-field-label {
    color: $dark-color;
  }

  // Borda do input focado
  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $dark-color;
  }

  // Cor de fundo para input desabilitado
  .mat-form-field-disabled .mat-form-field-wrapper {
    label{
      color: $font-disable;
    }
    .mat-form-field-label {
      padding-top: 4px;
    }
    .mat-form-field-flex {
      color: $font-disable;
      background-color: $border;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      padding-left: 4px;
    }
  }

}

/*
--------------------------------------------
--------------- ESTILO ANTIGO --------------
--------------------------------------------
*/
.f-center-page {
  mat-card.mat-card {
    width: $layout-center-page;
  }
}

.\--t-form-datepicker {
  .mat-form-field {
    padding-top: 0;
  }
}

// .t-form-field-default {
//   mat-form-field {
//     min-width: 150px;
//     max-width: 900px;
//     width: 100%;
//     padding-top: 10px;

//     label {
//         font-weight: bold;
//     }

//     .mat-input-infix {
//       border: solid 1px #dedede;
//       background-color: #ffffff;
//       border-radius: 6px;
//       box-sizing: border-box;
//       padding: $form-input-padding;
//       margin-top: $form-input-martop;
//       font-size: $font-size-default;
//       color: rgba(107, 107, 107, 0.87);

//       .mat-select-value {
//         color: rgba(107, 107, 107, 0.87);
//       }

//       label {
//         font-size: 14px;
//         color: #a2a2a2;
//       }

//       .mat-form-field-label-wrapper {
//         top: $form-label-space;
//       }
//     }
//   }

//   .mat-form-field-underline {
//     display: none;
//   }

//   mat-checkbox {
//     .mat-checkbox-inner-container {
//       height: 16px;
//       width: 16px;
//     }

//     .mat-checkbox-frame {
//       background-color: #ffffff;
//       border-color: rgba(165, 165, 165, 0.54);
//     }

//     .mat-checkbox-ripple {
//       left: -17px;
//       top: -16px;
//     }

//     .mat-checkbox-label {
//       color: rgba(107, 107, 107, 0.87);
//       font-size: 12px;
//     }
//   }

//   .\--checkbox-label, .\--form-lone-label {
//     margin-top: -9px;
//     margin-bottom: 2px;
//     height: 18px;
//     display: block;
//     font-size: $font-size-default;
//     font-weight: bold;
//     color: #a2a2a2;
//   }

//   .mat-form-field-subscript-wrapper {
//     font-size: 65%;
//     margin-top: -2px;
//   }
// }

// .f-form-material {
//   @extend %form-material;
// }

// %form-material {
//   mat-form-field {
//     .mat-input-infix {
//       .mat-form-field-label-wrapper {
//         top: -5px;
//       }
//     }

//     label {
//       font-weight: $form-material-label-weight;
//       color: $form-material-label-color;
//       margin-bottom: 5px;
//     }

//     .mat-input-underline, .mat-form-field-underline {
//       background-color: $input-underlined-color;
//     }

//     .mat-form-field-underline {
//       bottom: 24px;
//     }

//     // .mat-form-field .mat-form-field-ripple {
//     //   background-color: mat-color($mat-accent, 500);
//     // }

//     // .mat-form-field-invalid .mat-form-field-ripple {
//     //   background-color: mat-color($mat-warn, 500);
//     // }

//     // .mat-form-field-invalid .mat-form-field-label {
//     //   color: mat-color($mat-warn, 500) !important;
//     // }

//     // .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
//     //   color: mat-color($mat-accent, 500);
//     // }

//     .mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
//       font-size: $font-size-default !important;
//     }

//     .mat-primary.mat-focused label.mat-radio-label {
//       height: $form-material-label-height;
//     }

//     // .mat-focused .mat-form-field-label {
//     //   color: $form-material-label-color-active;
//     // }

//     // .mat-focused .mat-form-field-label.mat-warn {
//     //   color: $form-material-label-color-active;
//     // }

//     .mat-form-field-disabled .mat-form-field-underline {
//       background-image: none;
//       background-color: $form-material-input-disabled-color;
//     }

//     .mat-form-field-disabled .mat-form-field-label {
//       color: $form-material-input-disabled-color;
//     }

//     mat-checkbox {
//       .mat-checkbox-inner-container {
//         height: 16px;
//         width: 16px;
//       }

//       .mat-checkbox-frame {
//         background-color: #ffffff;
//         border-color: rgba(165, 165, 165, 0.54);
//       }

//       .mat-checkbox-ripple {
//         left: -17px;
//         top: -16px;
//       }

//       .mat-checkbox-label {
//         color: rgba(107, 107, 107, 0.87);
//         font-size: $font-size-default;
//       }
//     }
//   }
// }

// // .mat-primary .mat-option.mat-selected .mat-option-text {
// //   color: gray !important;
// // }
