@mixin mat-menu($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-menu-content {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .mat-menu-panel {
    margin: 8px;
    [class*='icon-']:before {
      margin-right: 5px;
      font-size: 20px;
      line-height: 1.4;
    }
  }

  .mat-menu-item {
    line-height: 45px !important;
    height: 45px !important;
    font-size: $text-sm !important;
    font-weight: 100 !important;
    color: $mat-menu-font-color !important;
    background-color: $mat-menu-background-color !important;
    span {
      font-size: 11px !important;
    }
    &:hover{
      background-color: $mat-menu-background-color;
    }
  }
}


