@mixin mat-radio-button($theme) {
  $foreground : map-get($theme, foreground);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  $container-height: 15px;
  $container-width: 15px;

  $outer-circle-height: 15px;
  $outer-circle-width: 15px;

  $inner-circle-height: 15px;
  $inner-circle-width: 15px;

  $ripple-left: calc(50% - 13px);
  $ripple-top: calc(50% - 12px);
  $ripple-height: 25px;
  $ripple-width: 25px;

  mat-radio-group.mat-radio-group {
    .mat-radio-button .mat-radio-label {
      .mat-radio-container {
        width: $container-width;
        height: $container-height;

        .mat-radio-outer-circle {
          border-color: mat-color($foreground, divider);
          height: $outer-circle-height;
          width: $outer-circle-width;
        }

        .mat-radio-inner-circle {
          background-color: mat-color($accent);
          height: $inner-circle-height;
          width: $inner-circle-width;
        }

        .mat-radio-ripple {
          left: $ripple-left;
          top: $ripple-top;
          height: $ripple-height;
          width: $ripple-width;
          border-radius: 50%;
        }
      }

      .mat-radio-label-content {
        font-size: $text-md;
      }
    }
  }

}
