.mat-button-toggle-group-appearance-standard {
  .mat-button-toggle-appearance-standard {
    background-color: #ffffff;
    color: mat-color($mat-accent, 500);

    .mat-button-toggle-label-content {
      line-height: $button-height;
      padding: 0 16px;
      font-size: $button-font-size;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    background-color: mat-color($mat-accent, 500);
    color: #ffffff;
  }
}



mat-button-toggle-group {
  &.--vertical {
    display: flex !important;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: column;
    flex: 1 1 100%;
    border: none;
    border-radius: 0px;
    
    mat-button-toggle {
      flex: 1 1 100%;
      border: solid 1px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      margin-top: 8px;
    }
  }
}