mat-toolbar.mat-toolbar {
  background-color: white;

    &.t-toolbar-primary {
      background-color: mat-color($mat-primary, 500);
      color: mat-color($mat-primary, 50);
    }
    &.t-toolbar-lighter {
        background-color: white;
    }
    .mat-title {
        width: 100%;
        text-align: center;
    }
    .l-toolbar-actions {
        margin-right: -15px;
    }
}

mat-toolbar-row.mat-toolbar-row {
    border-bottom: solid 1px $border;
}
