@mixin mat-tooltip($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $alert: map-get($theme, alert);
  $success: map-get($theme, success);
  $background: map-get($theme, background);

  $tooltip-radius: 50px;
  $tooltip-color:#ffffff;
  $tooltip-font-size: 9px;

  .tooltip {
    border-radius: $tooltip-radius !important;
    color: $tooltip-color;
    font-size: $tooltip-font-size;
    background-color: mat-color($accent);

    &.default {
      background-color: mat-color($background, mat-menu);
    }

    &.accent {
      background-color: mat-color($accent);
    }

    &.warn {
      background-color: mat-color($warn);
    }

    &.alert {
      background-color: mat-color($alert);
    }

    &.success {
      background-color: mat-color($success);
    }
  }


  .mat-tooltip-panel {
    .mat-tooltip {
      margin: 14px 3px;
    }
  }
}

