<form  [formGroup]="frmGroup" class="flex">
  <mat-form-field appearance="outline" [ngClass]="classFormField">
    <mat-label>{{name | translate}}{{frmGroup?.get(frmControlName)?.validator && frmGroup?.get(frmControlName)?.validator('required')?.required ? ' *' : ''}}</mat-label>
    <input
      [ngClass]="classInput"
      *ngIf="type === typeFieldEnum.DATE"
      [formControlName]="frmControlName"
      [placeholder]="placeholder | translate"
      [matDatepicker]="picker"
      (blur)="onBlur($event)"
      (keyup)="onKeyup($event)"
      matInput>
    <mat-datepicker-toggle matSuffix [for]="picker" [class.hidden]="type !== typeFieldEnum.DATE"></mat-datepicker-toggle>
    <mat-datepicker #picker [class.hidden]="type !== typeFieldEnum.DATE"></mat-datepicker>

    <input
      [ngClass]="classInput"
      *ngIf="type === typeFieldEnum.NUMBER"
      [akMaskNumber]="mask"
      [formControlName]="frmControlName"
      [placeholder]="placeholder | translate"
      (blur)="onBlur($event)"
      (keyup)="onKeyup($event)"
      matInput>
    <input
      [ngClass]="classInput"
      *ngIf="type === typeFieldEnum.TEXT"
      [mask]="mask"
      [formControlName]="frmControlName"
      [placeholder]="placeholder | translate"
      (blur)="onBlur($event)"
      (keyup)="onKeyup($event)"
      matInput>
    <mat-icon matSuffix *ngIf="icon && type !== typeFieldEnum.DATE && suffix == null">{{icon}}</mat-icon>
    <mat-icon matSuffix *ngIf="suffix && type !== typeFieldEnum.DATE"><span class="sufixx">{{suffix}}</span></mat-icon>
    <mat-hint [align]="item.align" *ngFor="let item of hints">{{item.value}}</mat-hint>
    <mat-error *ngIf="(frmGroup.get(frmControlName)?.hasError('required') && frmGroup.get(frmControlName)?.touched)">{{'validacao.campoObrigatorio' | translate}}</mat-error>
    <mat-error *ngIf="(frmGroup.get(frmControlName)?.hasError('maxLength') && frmGroup.get(frmControlName)?.touched)">{{'validacao.maxLength' | translate}}</mat-error>
    <mat-error *ngIf="(frmGroup.get(frmControlName)?.hasError('minLength') && frmGroup.get(frmControlName)?.touched)">{{'validacao.minLength' | translate}}</mat-error>
    <mat-error *ngIf="(frmGroup.get(frmControlName)?.hasError('max') && frmGroup.get(frmControlName)?.touched)">{{'validacao.maxValur' | translate}}</mat-error>
    <mat-error *ngIf="(frmGroup.get(frmControlName)?.hasError('min') && frmGroup.get(frmControlName)?.touched)">{{'validacao.minValue' | translate}}</mat-error>
    <mat-error *ngIf="(frmGroup.get(frmControlName)?.hasError('matDatepickerParse') && frmGroup.get(frmControlName)?.touched)">{{'validacao.dataInvalida' | translate}}</mat-error>
    <mat-error *ngIf="(frmGroup.get(frmControlName)?.hasError('Mask error') && frmGroup.get(frmControlName)?.touched)">{{'validacao.campoInvalido' | translate}}{{mask}}</mat-error>
    <ng-content></ng-content>
  </mat-form-field>
</form>

