@import '../../../../../styles/theming.scss';


@function heightHeader() {
    @return 100px - (2 * $ak-padding);
}

.simple-tabbed-header {
    background-color: mat-color($primary, 500);
    color: mat-color($primary, 50);
    height: heightHeader();
    line-height: heightHeader();
    padding: $ak-padding;
}

ak-simple-tabbed-header div.simple-tabbed-header span {
    font-size: 20px;
}

.simple-tabbed-content {
    padding: $ak-padding;
}
