@import '../palettes';

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick,
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label,
::ng-deep mat-warn .mat-input-element,
::ng-deep .mat-form-field-invalid .mat-input-element {
  color: mat-color($danger);
  caret-color: mat-color($danger);
}


@mixin mat-form-field($theme) {
  mat-form-field .mat-form-field-hint-wrapper, mat-hint {
    display: block;
  }

  mat-error.mat-error {
    height: 15px;
    color: mat-color($danger);
  }

  .mat-form-field-appearance-standard .mat-form-field-underline {
    background-color: rgba(0,0,0,.42);
  }

  .mat-form-field-appearance-outline div.mat-form-field-wrapper {
    padding-bottom: 0.5em;
  }

}