<mat-toolbar [class.ake-is-mobile]="!sideOpened" class="flex row ake-header mat-elevation-z2">
  <div class="flex row left">
    <button mat-icon-button (click)="sidenav.toggle()" [class.hidden]="sideOpened">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="flex row right">
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <img class="flag" [src]="'assets/images/flags/' + countrySelected?.thumbnail" [alt]="countrySelected?.fullName" *ngIf="countrySelected">
        <span>{{countrySelected?.shortName}}</span>
      </button>
    </div>
    <mat-menu #menu="matMenu">
      <div class="flex row mat-menu-option" *ngFor="let country of countries">
        <img class="flag" [src]="'assets/images/flags/' + country?.thumbnail" [alt]="country?.fullName">
        <button mat-menu-item (click)="changeLanguage(country)">{{('countries.' + country?.shortName) | translate}}</button>
      </div>
    </mat-menu>
  </div>
</mat-toolbar>
<mat-progress-bar mode="query" color="accent" *ngIf="loading"></mat-progress-bar>

<mat-sidenav-container class="ake-container">
  <mat-sidenav  #sidenav
    [(opened)]="sideOpened"
    (openedStart)="sideOpened = true"
    (closedStart)="sideOpened = false"
    class="ake-sidenav"    
    [mode]="isMobile ? 'over' : 'side'">
    <ake-nav-header [sidenav]="sidenav" (clickIcon)="closeSidenav(sidenav)"></ake-nav-header>
    <ake-menu (clickMenu)="closeSidenav(sidenav)"></ake-menu>
  </mat-sidenav>

  <mat-sidenav-content class="ake-content" [class.sidenav-open]="sideOpened">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="ake-footer mat-elevation-z2" [class.ake-is-mobile]="!sideOpened" color="accent">
  <span class="autor-title">{{'label.autor' | translate}}: </span>
  <span class="autor">{{'autor.nome' | translate}}</span>
</mat-toolbar>

<!-- Drawer -->
<ake-drawer [drawer]="drawer" *ngFor="let drawer of drawers"></ake-drawer>