@import 'theming.scss';

@media only screen and (max-width: 600px) {
  .ak-content,
  .ak-content.sidenav-open {
    width: 100%;
  }
}

.ak-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ak-content {
  top: 45px;
  margin-bottom: 90px;
  width: 100%;

  &.sidenav-open {
    width: calc(100% - 250px);
  }
}

.ak-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  background-color: mat-color($accent, 800);
  color: mat-color($accent, 50);
}

.ak-header {
  top: 0;
}

.ak-footer {
  bottom: 0;
}

.ak-header,
.ak-footer {
  position: fixed;
  left: 250px;
  right: 0;
  z-index: 2;
  transition: left cubic-bezier(0, 0, 0.2, 1) 0.35s;
}

.ak-is-mobile {
  &.ak-header,
  &.ak-footer {
    left: 0;
  }
}

.autor-title {
  padding-right: 10px
}

.autor {
  font-size: 18px;
}