<ng-container>
  <mat-toolbar class="ak-header mat-elevation-z3" color="primary">
      <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  </mat-toolbar>

  <mat-sidenav-container class="ak-container">
    <mat-sidenav  #sidenav opened
      color="primary"
      class="ak-sidenav"    
      mode="side"
      [fixedInViewport]="false">
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="ak-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar class="ak-footer mat-elevation-z3" color="primary">Footer</mat-toolbar>
</ng-container>