<div *ngIf="drawer?.showOverlay" class="overlay" [ngClass]="disableCloseInOverlay ? '' : 'show-cursor'" (click)="clickOverlay()"></div>
<div class="drawer --drawer-width-{{drawer.size}}" [ngClass]="getStyles()">
  <div class="container">
    <div class="header mat-elevation-z1">
      <button class="button-close mat-elevation-z2" mat-mini-fab color="primary" (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
      <div class="title">
        {{drawer?.title | translate}}
      </div>
    </div>
    <div class="content">
      <div class="content-place mat-elevation-z1">
        <ng-container #content></ng-container>
      </div>
    </div>
  </div>
</div>
