<ak-simple-tabbed>
  <ak-simple-tabbed-header>
    <span>{{'titulo.simpleTabbed' | translate}}</span>
  </ak-simple-tabbed-header>
  <ak-simple-tabbed-content>
    <ak-simple-tabbed-item label="Tab1">
      <div style="height: 1000px">Tab1</div>
    </ak-simple-tabbed-item>
    <ak-simple-tabbed-item label="Tab2">
      <div>Tab2</div>
    </ak-simple-tabbed-item>
    <ak-simple-tabbed-item label="Tab3">
      <div>Tab3</div>
    </ak-simple-tabbed-item>
  </ak-simple-tabbed-content>
</ak-simple-tabbed>
