<ul class="container">
  <ng-template #recursiveList let-menus>
    <li *ngFor="let menu of menus; let i = index" class="menu">
      <span
        class="link-title bold"
        [routerLink]="menu.route"
        [routerLinkActiveOptions]="{exact: false}"
        routerLinkActive
        #rla="routerLinkActive"
        [class.active]="rla.isActive && menu.route != null"
        (click)="onClickMenu(menu.route != null)">
        <mat-icon class="menu-icon" >{{menu?.icon}}</mat-icon>
        <span [class.no-route]="menu.route == null" class="text">{{menu.nameMenu | translate}}</span>
        <mat-chip-list *ngIf="menu?.count">
          <mat-chip class="warn">{{menu?.children?.length}}</mat-chip>
        </mat-chip-list>
      </span>
      <ul *ngIf="menu?.children?.length > 0">
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: menu?.children }"></ng-container>
      </ul>
    </li>
  </ng-template>
  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: menus }"></ng-container>
</ul>