@import 'theming.scss';

.container, ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.menu {
  padding-left: 10px;
}

.link-title {
  padding-left: 10px;
  display: flex;
  align-items: center;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}

span.link-title:hover {
  & span {
    text-decoration: underline;
  }
  & span.no-route {
    text-decoration: none;
  }
}

.active {
  background-color: mat-color($primary, 500);
  border-radius: 30px;
  margin-right: 16px;
}

mat-chip-list {
  padding: 9px 10px;
}

mat-chip.mat-standard-chip {
  min-height: 20px;
}

mat-icon.menu-icon.mat-icon {
  padding-right: 10px;
  font-size: 18px;
  width: 18px;
  height: 18px;
}
