@import 'styles/theming.scss';

.nav-container {
  display: flex;
  flex-flow: column;
}

.nav-menu-link, .nav-submenu-link {
  height: 40px;
  line-height: 40px;
  // padding: 0 12px 0 20px;
  cursor: pointer;
  flex-basis: 100%;
  display: flex;
  flex-flow: column;
  text-decoration: none;
}

span.nav-link-title:hover {
  text-decoration: underline;
}

.nav-link-title {
  padding-left: 10px;
}

.nav-link-title.submenu {
  padding-left: 30px;
}

.active {
  background-color: mat-color($primary, 500);
  border-radius: 0 20px 20px 0;
  margin-right: 16px;
}

.no-route {
  text-decoration: none !important;
}

