<div class="snackbar">
  <div [ngClass]="'border ' + options?.type + (options?.showAction ? '' : ' no-action')" [class.mg-normal]="!options?.showAction"></div>
  <div class="content">
    <span class="title">{{options?.title | translate}}</span>
    <span class="text secondary-text">{{options?.message | translate}}</span>
  </div>
  <button class="button-close" mat-icon-button (click)="closeSnackBarMensagem()">
    <mat-icon  class="icon-action secondary-text">close</mat-icon>
  </button>
</div>
<div class="actions" *ngIf="options?.showAction">
  <button [ngClass]="'btnAction ' + options?.type" mat-raised-button (click)="closeSnackBarMensagem()">
    <span class="btn-label">{{ options?.actionLabel | translate }}</span>
  </button>
</div>
