$color-success: #269800;
$color-warn: #f3ab00;
$color-info: #1f7fec;
$color-error: #fa4616;
$color-background: #E8E8E8;
$color-default: #000;
$color-gray: #787878;

::ng-deep snack-bar-container.mat-snack-bar-container {
  padding: 0px;
}

snack-bar-container {
  background: $color-background;
  &:hover {
    background: darken($color-background, 2%);
  }
}

.icon-notification {
  color: $color-background;
  &:before {
    font-size: 25px;
  }
}

.content {
  color: $color-default;
  margin-bottom: 5px;
}

.text {
  font-weight: normal;
}

div.snackbar {
  display: flex;
  padding: 0 0 0 15px;
  min-height: 50px;
  &.success {
    color: $color-success;
  }
  &.warn {
    color: $color-warn;
  }
  &.info {
    color: $color-info;
  }
  &.error {
    color: $color-error;
  }
}

div.border {
  margin: 0 10px -69px -15px;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 3px 0 0 3px;
  &.success {
    background-color: $color-success;
  }
  &.warn {
    background-color: $color-warn;
  }
  &.info {
    background-color: $color-info;
  }
  &.error {
    background-color: $color-error;
  }
}

.mg-normal {
  margin: 0 10px 0 -15px;
}

div.actions {
  margin: 10px 10px 10px 20px;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  &button {
    margin: 0 auto;
  }
}

div.content {
  max-width: 310px;
  margin: 10px 0;
  display: grid;
  font-weight: bold;
  width: 100%;
}

button.btnAction.mat-button {
  height: 39px;
  margin: auto 0;
}

.mat-snack-bar-container {
  max-width: 600px;
  padding: 0px;
}


.btn-label {
  text-transform: none;
  padding-right: 5px;
}

.mat-icon.icon-action {
  font-size: 16px;
  height: 16px;
  width: 16px;
  font-weight: normal;
}

.icon-close.notification {
  color: $color-gray;
  &:before {
    font-size: 14px;
  }
}
