<div class="snackbar">
  <div [class]="'border ' + options?.type" [class.mg-normal]="!options?.showAction"></div>
  <div class="content">
    <span class="content">{{options?.title | translate}}</span>
    <span class="text">{{options?.message | translate}}</span>
  </div>
  <button mat-icon-button (click)="closeSnackBarMensagem()">
    <mat-icon class="icon-action">close</mat-icon>
  </button>
</div>
<div class="actions" *ngIf="options?.showAction">
  <button [ngClass]="'btnAction ' + options?.type" mat-raised-button (click)="closeSnackBarMensagem()">
    <span class="btn-label">{{ options?.actionLabel | translate }}</span>
  </button>
</div>
