@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './styles/theming.scss';
@import '~material-design-icons/iconfont/material-icons.css';
@import './styles/components/layouts';

@include mat-core();
@include angular-material-theme($theme);

* {
    font-family: 'Raleway', sans-serif;
    outline: none !important;
}

body {
    font-family: 'Raleway', sans-serif;
}