.simple-tabbed-header {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center space-between;
  align-items: center;

  height: 136px!important;
  min-height: 136px!important;
  max-height: 136px!important;
}