@import '~@angular/material/theming';
@import 'palettes';
@import 'variables';

@function app-light-theme($primary, $accent, $warn, $success, $danger) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    success: $success,
    danger: $danger,
    is-dark: false,
    foreground: $foreground,
    background: $background,
  );
}

$light-theme: app-light-theme($primary-palette, $accent-palette, $warn-palette, $success-palette, $danger-palette);


$ak-padding: 12px;

.mat-drawer-side {
  border-right: 0px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: mat-color($accent, 500);
  border-radius: 10px;
}

// ak-card-avatar {
//   display: flex;
// }

ak-input {
  width: 100%;
}-palette

.accent {
  background-color: mat-color($accent, 500);
  color: $light-primary-text;
}

.warn {
  background-color: mat-color($warn);
  color: $dark-primary-text;
}

.primary {
  background-color: mat-color($primary);
  color: $light-primary-text;
}

.success {
  background-color: mat-color($success);
  color: $light-primary-text;
}

.error, .danger {
  background-color: mat-color($danger);
  color: $light-primary-text;
}

mat-error.mat-error {
  height: 15px;
  color: red;
}

mat-calendar {
  background: white;
}

.ak-button-row button,
.ak-button-row a {
  margin-right: 8px;
}
