@import '~@angular/material/theming';
@import 'variables';
@import 'palettes';
@import 'angular-material/mat-form-field';

@function custom-theme($primary, $accent, $warn, $danger, $success) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    danger: $danger,
    success: $success,
    is-dark-theme: true,
    foreground: $background,
    background: $foreground,
  );
}

$theme: custom-theme($primary, $accent, $warn, $danger, $success);

.accent, .primary, .info, .success, .error, .danger {
  color: white;
}

.accent {
  background-color: mat-color($accent, 500);
}

.warn {
  background-color: mat-color($warn);
  color: black;
}

.primary {
  background-color: mat-color($primary);
}

.info {
  background-color: mat-color($primary, 900);
}

.success {
  background-color: mat-color($success);
}

.error, .danger {
  background-color: mat-color($danger);
}
