@mixin utils($theme) {
  @media only screen and (max-width: 525px) {
    ake-card div.flex {
      &.row {
        flex-direction: column;
      }
    }

    mat-form-field.margin-left-default, div.margin-left-default {
      margin-left: 0px;
    }
  }
  .flex {
    display: flex;
    &.row {
      flex-direction: row;
      &.left {
        justify-content: flex-start;
      }
      &.right {
        justify-content: flex-end;
        flex-grow: 1;
      }
      &.center {
        justify-content: center;
      }
    }
    &.col {
      flex-direction: column;
      &.left {
        align-content: flex-start;
      }
      &.right {
        align-content: flex-end;
        flex-grow: 1;
      }
      &.center {
        align-content: center;
      }
    }
  }
  
  .hidden {
    display: none;
  }
  
  .full-width {
    width: 100%;
  }
  
  .margin-left-default {
    margin-left: 16px;
  }

  .mg-normal {
    margin: 0 10px 0 -15px;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .secondary-text {
    color: rgba(0,0,0,.54);
  }

  .show-cursor {
    cursor: pointer;
  }
}
