@mixin utils($theme) {
  .flex {
    display: flex;
    &.row {
      flex-direction: row;
    }
    &.col {
      flex-direction: column;
    }
  }
  
  .hidden {
    display: none;
  }
  
  .full-width {
    width: 100%;
  }
  
  .margin-left-default {
    margin-left: 16px;
  }

  .mg-normal {
    margin: 0 10px 0 -15px;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .secondary-text {
    color: rgba(0,0,0,.54);
  }
}
